/* Ghetto reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #ddd;
	font-family: sans-serif;
}

.col-1, .col-2 {
  float: left;
  position: relative;
}
.col-1 {
  width: 75%;
}
.col-2 {
  width: 25%;
  padding: 1em;
}

#gallery {
	width: 100%;
	position: relative;
	background: white;
	-webkit-user-select: none;
}
	#gallery canvas {
		background: white;
    width: 100%;
	}

#gallery ul {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
  padding: 1em;
}
#gallery.drawing ul {
  /*pointer-events: none;*/
}
#gallery li {
	width: 30%;
	display: inline-block;
	margin: 0 1em 1em 0;
	padding: 1em;
	background: #fff;
	border: 1px solid #ccc;
	pointer-events: none;
}
	#gallery li img {
		width: 100%;
		height: auto;
	}
	#gallery li.selected {
		border-color: red;
		background: rgba(255, 0, 0, 0.1);
	}

.button {
	display: block;
	padding: 0.5em 1em;
	margin-bottom: 1em;
	color: #fff;
	background: #6163cc;
    border-radius: 4px;
    text-decoration: none;
}
	.button:hover {
		color: #ccc;
	}
	.delete.button {
		background: #cc4f56;
	}
  .edit.button {
    background: #00c408;
  }
  .disabled.button {
    opacity: 0.75;
  }